<h1>Swaps</h1>
  <%= link_to "New Swap", new_swap_path %>
        <div id="swaps">
          <% @swaps.each do |swap| %>
            <h2><%= link_to swap.name, swap %></h2>
            <p><%= swap.description %></p>
  <% end %>
</div>