/*
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "services";
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,900,700,600);

$mustard-yellow: violet;
$light-yellow: rose;
$dark-yellow: black;
$very-light-yellow: #f1F1F1;


.main-color {
  color: $dark-yellow;
}

.round-image-50 {
    background-color: white;
    border: 1px solid $dark-yellow;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}

.round-image-100 {
    background-color: white;
    border: 1px solid $dark-yellow;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}


.panel-service-active {
  background: $very-light-yellow;
  padding: 20px;
  transition: background 0.5s ease-in-out;
}

.panel-service-active:hover {
  background: white;
  padding: 20px;
}

.panel-console {
  background: white;
  padding: 20px;
  margin: 0px;
  margin-bottom: 20px;
}

.panel-service {
  background: white;
  padding: 20px;
  margin: 0px;
}

.marged {
  margin-right: 14px;
  margin-bottom:26px
}

.panel-helps {
  background: white;
  padding: 20px;
  margin-top: 20px;
}

.mustard {
  color: $dark-yellow
}

body {
  font-family: 'Source Code Pro';
  background: #F1F1F1;
  color: #32290e;
}

a {
  color: $dark-yellow;
  text-decoration: none;
}

a:hover {
  color: #4b3e16;
  text-decoration: none;
}

// .navbar, .nav {
//   background-color: $mustard-yellow;
//   border: 0px;
//   color: $light-yellow;
// }

// .navbar-default .navbar-nav > li > a {
//     color: $light-yellow;
// }

// .navbar-default .navbar-nav > li > a:hover {
//     color: white;
// }

// .navbar-default .navbar-brand {
//     color: $light-yellow;
//     font-weight: bold;
//     font-size: 27px
// }
// .navbar-default .navbar-brand:hover {
//     color: white;
//     font-weight: bold;
// }

// .navbar-default .navbar-nav > .active > a {
//   background: $mustard-yellow;
//   color: white;
// }

// .navbar-default .navbar-nav > .active > a:hover {
//   background: $mustard-yellow;
//   color: white;
// }

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

a.new, a.edit, a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-default;

  &:before {
    @extend .fa-plus;
  }
}

.select {
  //@extend .btn;
  //@extend .btn-default;
  // padding-right: 0.5em;
  // display: inline-block;
  // margin-bottom: 0;
  // font-weight: normal;
  // text-align: center;
  // vertical-align: middle;
}

.console {
  #padding:10px;
  margin-bottom: 20px;
  margin-top: 20px;

}

a.edit {
  @extend .btn-default;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-default;

  &:before {
    @extend .fa-trash;
  }
}

.crazybold {
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 0.5
}

b {
  font-weight: 700;
}

.alert-notice {
  z-index: 10;
  @extend .alert-success;
  background-color: white;
  border: 0px;
  margin-bottom: 0px;
}

.alert-alert {
  z-index: 10;
  margin-top: 20px;
  @extend .alert-danger;
  background-color: white;
  margin-bottom: 0px;
}

form {
  max-width: 100%;
}



body {
  padding-top: 50px;
}


/*======= Map Styling ============*/
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

.full {
  height:100%;
  width:100%;
}