/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "services";


body {
  background: #fef5da;
  color: #32290e;
}

a {
  color: #b09133;
}

.navbar, .nav {
  background-color: #b09133;
  border: 0px;
  color: #fef5da;
}

.navbar-default .navbar-nav > li > a {
    color: #fef5da;
}

.navbar-default .navbar-nav > li > a:hover {
    color: white;
}

.navbar-default .navbar-brand {
    color: #fef5da;
    font-weight: bold;
    font-size: 30px
}
.navbar-default .navbar-brand:hover {
    color: white;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
  background: #fef5da;
  color: #b09133;
}

.navbar-default .navbar-nav > .active > a:hover {
  background: #fef5da;
  color: #b09133;
}

header {
  @extend .page-header;
  position: relative;
  padding-bottom: 0px;

  &:first-child {
    margin-top: 20px;
  }
}

ul.actions {
  @extend .list-unstyled;
  @extend .list-inline;
}

a.new, a.edit, a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

.select {
  @extend .btn;
  @extend .btn-warning;
  padding-right: 0.5em;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;

  &:before {
    font-family: "FontAwesome";
  }

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

.alert-notice {
  z-index: 10;
  margin-top: 20px;
  @extend .alert-success;
  background-color: white;
}

.alert-alert {
  z-index: 10;
  margin-top: 20px;
  @extend .alert-danger;
  background-color: white;

}

form {
  max-width: 100%;
}

body {
  padding-top: 50px;
}


/*======= Map Styling ============*/
.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}
