 <% if current_user %>
<header>
  <h1>Swaps</h1>
    <ul class="actions">
      <li>
        <%= link_to "New Swap", new_swap_path, class: "new" %>
      </li>
    </ul>
</header>

    <% else %>
        Sign up / sign in to go further
    <% end %>

 <% if current_user %>
<div id="swaps">
  <% @swaps.each do |swap| %>
    <h2>
      <%= link_to swap.name, swap %>
     created by <b><%= swap.swapper_name %></b>
     </h2>
    <p><%= swap.description %></p>
  <% end %>
</div>
<% end %>